* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;

}

.nav-list {
    width: 90%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    text-decoration: none;
    color: grey;
}

.rightNav {
   width: 20%;
    display: flex;
    text-align: right;
    padding: 20px 30px;
    float: right;
    background-color: black;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('../bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
    font-family: 'Segoe UI', Tahoma , Geneva, Verdana,sans-serif;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.firstSection{
    height: 100vh;
}

.firstHalf{

}

.secondHalf{
    
}